In [1]:
#1-Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [2]:
for i in range(1500 , 2700):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [3]:
#2-Write a Python program to convert temperatures to and from celsius, fahrenheit.

In [4]:
temp= float(input("enter the degree: "))
convertdegree= int(input("if you want to convert the temperature from celsius to fahrenheit press 1 if the opposite press 2: "))
if convertdegree==1:
    print((temp * 9 / 5) + 32)
elif convertdegree==2:
    print((temp - 32) / 9 * 5)
else:
    print("sorry i didn't understand your choice")

enter the degree: 55
if you want to convert the temperature from celsius to fahrenheit press 1 if the opposite press 2: 2
12.777777777777777

In [5]:
#3-Write a Python program to construct the following pattern, using a nested for loop.

In [6]:
for i in range (1,6):
    print("* " * i)
for i in range (4,0,-1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
#4-Write a Python program that accepts a word from the user and reverse it.

In [29]:
w= input("WRITE A WORD: ")
reversed_w=w[len(w)::-1]
print(reversed_w)

WRITE A WORD: menna reda
ader annem

In [9]:
#5-Write a Python function to find the Max of three numbers

In [10]:
def max2(x,y):
    if x>y:
        return x
    return y
def max3(x,y,z):
    return max2(x, max2(y,z))
print(max3(4,6,9))

9

In [11]:
#6-Write a Python function to sum all the numbers in a list.

In [12]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((3,4,6)))

13

In [13]:
#7-Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. Note : Use 'continue' statement.

In [25]:
for x in range(6):
    if x == 3 or x==6:
        continue
    print(x)

0
1
2
4
5

In [15]:
#8-Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [16]:
def fact(num):
    result = 1 
    for i in range(num, 1, -1):
        result = result * i
    
    print (result)

num = int(input())
fact(num)

5
120

In [17]:
#9-Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [24]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,1,5,3,9,66,100,5]))

[1, 2, 5, 3, 9, 66, 100]

In [20]:
#10-Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [22]:
SUM = lambda X : X + 15
print(SUM(16))
MULTI = lambda A, B : A * B
print(MULTI(11, 7))

31
77